# rides csv data
travel_data.csv

# testing 
structs_testing.c
test.c

# binaries

search
menu
indexer
structs_testing
search_testing
csv_to_bin
p1-odProgram

rides.bin
source_id_heads.bin

# dotfiles
.vscode/

# IPC


IPC/Shm/consumer
IPC/Shm/makefile
IPC/Shm/producer
IPC/Shm/shm.sh
IPC/test_open
IPC/test_open.c

#test

CountTime