# data files
*.bin
*.csv
*/bin/

# log 
*searchs.log

# dotfiles
.vscode/

# IPC

IPC/Shm/consumer
IPC/Shm/makefile
IPC/Shm/producer
IPC/Shm/shm.sh
IPC/test_open
IPC/test_open.c
IPC/archivos/Archivo.bin
